<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
         <a class="ancres" routerLink="movies">FILMS</a>
      </li>
    </ul>
    <ul class="nav">
      <li routerLinkActive="active">
        <h2>MOVIEZ</h2>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a class="ancres" routerLink="auth/signup">Créer compte</a>
      </li>
      <li routerLinkActive="active">
        <a class="ancres" routerLink="auth/signin">Connexion</a>
      </li>
    </ul>
  </div>
</nav>
