.navbar {
  background-color: lightgray;
  display: flex;
  font-weight: 500;
}
.ancres {
  text-decoration: none;
}
.navbar-right {
  display: flex;
  flex-direction: row;
}
.btn-primary:last-child {
  margin-right: 1rem;
}
